# Python Bootcamp Day 1

See: https://greenteapress.com/thinkpython2/html/index.html for the full book

## Variables, Expressions, and Statements

### Assignment Statements

In [2]:
message = 'And now for something completely different'
n = 17
pi = 3.1415926535897932

### Variable Names

Python 3 has these keywords: False, class, in, finally, is, return, None, continue, for, lambda, try, True, def, from, nonlocal, while, and , del ,global, not, with, as, elif, if, or, yield, assert, else, import, pass, break, except, in, raise

In [3]:
76trombones = 'big parade'
more@ = 1000000
class = 'Advanced Theoretical Zymurgy'

SyntaxError: invalid decimal literal (1149949870.py, line 1)

### Expressions and Statements

In [4]:
n = 17
print(n)

17

### Script Mode

In [5]:
# This is interactive mode - which returns the most recent value as output
miles = 26.2
miles * 1.61
miles * 3

78.6

In [6]:
# This is script mode - which returns multiple values as output
miles = 26.2
print(miles * 1.61)
print(miles * 3)

42.182
78.6

### Order of Operations

In [7]:
1 + 2**3

9

In [8]:
3 * 4/2 - 6+3**2

9.0

### Commenting Code

In [9]:
# This is a way to write a comment
print("May the force be with you") # And here is another way to write comments

May the force be with you

In [11]:
# but this is a bad idea? Why? print("Why won't this ever print??")

### Debugging 

**Syntax error:**
“Syntax” refers to the structure of a program and the rules about that structure. For example, parentheses have to come in matching pairs, so (1 + 2) is legal, but 8) is a syntax error.
If there is a syntax error anywhere in your program, Python displays an error message and quits, and you will not be able to run the program. During the first few weeks of your programming career, you might spend a lot of time tracking down syntax errors. As you gain experience, you will make fewer errors and find them faster.

**Runtime error:**
The second type of error is a runtime error, so called because the error does not appear until after the program has started running. These errors are also called exceptions because they usually indicate that something exceptional (and bad) has happened.
Runtime errors are rare in the simple programs you will see in the first few chapters, so it might be a while before you encounter one.

**Semantic error:**
The third type of error is “semantic”, which means related to meaning. If there is a semantic error in your program, it will run without generating error messages, but it will not do the right thing. It will do something else. Specifically, it will do what you told it to do.
Identifying semantic errors can be tricky because it requires you to work backward by looking at the output of the program and trying to figure out what it is doing.

### Exercises 

1. We’ve seen that n = 42 is legal. What about 42 = n?

2. How about x = y = 1?

3. In some languages every statement ends with a semi-colon, ;. What happens if you put a semi-colon at the end of a Python statement?

4. What if you put a period at the end of a statement?

5. In math notation you can multiply x and y like this: x y. What happens if you try that in Python?

## Functions

### Function Calls

In [16]:
int(42)

42

In [15]:
int('Hello')

ValueError: invalid literal for int() with base 10: 'Hello'

In [17]:
int(3.99999)

3

In [18]:
int(-2.3)

-2

In [19]:
float(32)

32.0

In [20]:
float('3.14159')

3.14159

In [21]:
str(32)

'32'

In [22]:
str(3.14159)

'3.14159'

### Math Functions

In [23]:
import math
math

In [24]:
radians = 0.7
height = math.sin(radians)

In [25]:
degrees = 45
radians = degrees / 180.0 * math.pi
math.sin(radians)

0.7071067811865476

In [26]:
x = 10
x = math.exp(math.log(x+1))

### Custom Functions

In [27]:
def print_lyrics():
    print("I'm a lumberjack, and I'm okay.")
    print("I sleep all night and I work all day.")

print_lyrics()

I'm a lumberjack, and I'm okay.
I sleep all night and I work all day.

In [28]:
def repeat_lyrics():
    print_lyrics()
    print_lyrics()

repeat_lyrics()

I'm a lumberjack, and I'm okay.
I sleep all night and I work all day.
I'm a lumberjack, and I'm okay.
I sleep all night and I work all day.

In [29]:
def make_song(name):
    print("Hello " + name + "! It's nice to meet you.")
    repeat_lyrics()

make_song("John Doe")

Hello John Doe! It's nice to meet you.
I'm a lumberjack, and I'm okay.
I sleep all night and I work all day.
I'm a lumberjack, and I'm okay.
I sleep all night and I work all day.

In [30]:
def cat_twice(part1, part2):
    cat = "My cat breeds are " + part1 + " and "  + part2 + ". /n I don't know what I said that."
    return cat

cat_twice("Calico", "Tortoise shell")

"My cat breeds are Calico and Tortoise shell. /n I don't know what I said that."

### A note about the None type

In [31]:
type(None)

NoneType

### Exercises

Write a function named right_justify that takes a string named s as a parameter and prints the string with enough leading spaces so that the last letter of the string is in column 70 of the display.

Hint: Use string concatenation and repetition. Also, Python provides a built-in function called len that returns the length of a string, so the value of len('monty') is 5.

## Conditionals and Recursion 

### Floor division and modulus

In [32]:
minutes = 105
minutes / 60

1.75

In [33]:
minutes // 60

1

In [34]:
minutes % 60

45

### Boolean Expressions

In [35]:
5 == 5

True

In [36]:
5 == 6

False

In [37]:
type(True)

bool

In [38]:
x = 3
y = 5

print(x != y)  
print(x > y)
print(x < y) 
print(x >= y)
print(x <= y)

True
False
True
False
True

In [ ]:
42 and True

In [ ]:
cats = "cats"
dogs = "tuesday"

cats == "cats" or dogs == "dogs"

In [ ]:
cats == "cats" & dogs == "dogs"

### If, elif, else

In [40]:
if x < y:
    print('x is less than y')
elif x > y:
    print('x is greater than y')
else:
    print('x and y are equal')

x is less than y

### Nesting

In [41]:
if x == y:
    print('x and y are equal')
else:
    if x < y:
        print('x is less than y')
    else:
        print('x is greater than y')

x is less than y

### Recursion

In [42]:
def countdown(n):
    if n <= 0:
        print('Blastoff!')
    else:
        print(n)
        countdown(n-1)

### Exercises 

The time module provides a function, also named time, that returns the current Greenwich Mean Time in “the epoch”, which is an arbitrary time used as a reference point. On UNIX systems, the epoch is 1 January 1970.

import time

time.time()


Write a script that reads the current time and converts it to a time of day in hours, minutes, and seconds, plus the number of days since the epoch.